
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #3e3e42;
	color: #FFF;
}

a {	
	color: #75cbd1;
	text-decoration: none;
}
a:hover {
	color: #c7e8ea;
}

body,p {
	font-size: 13pt;
	font-family: Helvetica, Arial, sans-serif;
}

h2 {
	font-weight: 200;
}

h3 {
	font-size: 24pt;
	text-align: left;
	margin: 0;
	font-weight: 200;
}

header, section, footer {
	display: block;
}

div.wrapper {
	margin: 15px auto;
	width: 1100px;
	padding: 0 10px;
}

section {
	margin: 0;
	padding: 0;
	min-height: 560px;
	clear: both;
	overflow: hidden;
}

header {
	height: 100px;
	margin-top: 60px;
}

.site_title {
	display: inline;
	text-align: left;
	font-size: 24pt;
	font-weight: 400;
}
.site_title a {
	color: #fff;
}
.site_title a.selected {
	text-decoration: none;
}


/* Navigation Menu */
nav {
	display: inline;
	height: 26px;
	float: right;

}

ul {
	list-style: none;
}

ul.topnav {
	padding: 0 10px;	
	margin: 0;
	font-weight: normal;
	font-size: 13pt;
	float: right;
}

ul.topnav li {
	margin: 0 8px 0 0;
	padding: 0 3px;
	float: left;
	position: relative;
	z-index: 108;
}

ul.topnav li a{
	padding: 3px 0;
	margin: 0 5px;
	color: #FFF;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
}
ul.topnav li a.selected {
	border-bottom: 3px solid #75cbd1;
}
ul.topnav li a:hover, 
ul.topnav li a.selected {
	color: #ababab;
}



/* Form Controls */

textarea,
input,
select {
	font-size: 11pt;
}

input.inputfield {
	width: 350px;
}

input.inputfield.short {
	width: 110px;
}

div.editor {
	background-color: #ededed;
	color: #555;
    border: 1px solid #CCCCCC;
    border-collapse: separate;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.075) inset;
    height: 100px;
    max-height: 250px;
    width: 710px;
    outline: medium none;
    overflow: scroll;
    padding: 4px;
}
div.editor.full {
	height: 300px;
}
div.editor ul {
	list-style: disc outside none !important;
}

.dropdown-menu a {
  cursor: pointer;
}


.btn-toolbar {
    font-size: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

textarea {
	font-family: Helvetica, Arial;
	height: 200px;
	width: 355px;
}

textarea.short {
	font-family: Helvetica, Arial;
	height: 50px;
	width: 355px;
}

.required {
	font-size: 13pt;
	color: #E87820;
	padding: 0 3px;
}

.checkbox.inline {
	line-height: 22px;
}

input[type="button"].btn {
	margin: 10px 5px;
}

/* Bootstrap Datepicker */

.datepicker {
	color: #333;
}

/* Timepicker */
.icon-time {
	color: #333;
}

#ui-datepicker-div { 
	font-size: 12px;
	padding: 10px;
}

.clearicon {
	color: #DA4F49;
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    margin: 2px 8px;
    vertical-align: top;
    font-size: 16pt;
}
.clearicon:hover {
	color: #888;
}

/* jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

/* jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight  {
	border-color:  #5c82d4;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	color: #5c82d4;
}


/* Generic Global Styles */

.hidden {
	visibility: hidden;
}
.noDisplay {
	display:none;
}
.cleardiv {
	clear:both;
}
.tiny {
	font-size: 10pt;
}

.formHelp {
	margin-left: 10px;
	color: #bbb;
}

#errordiv, #successdiv {
	margin-top: 8px;
}

/* Table Styling */

table {
	padding: 10px;
}
table tr td {
	padding: 5px 0;
}


/* Error Handling */

span.inlineError {
	font-size: 10pt;
	padding: 0 10px;
	color: #EE4343;
	display: none;
}

.noEvents {
	font-size: 12pt;
	color: #ccc;
}

/* Home page */

div.eventActions {
	margin: 30px;
	float: right;
}
div.eventActions > div {
	padding: 10px;
}


div.eventList {
	margin: 30px;
}

div.eventList > .event {
	padding: 5px 0;
}


/* Weekly/Special pages */

#characterCount {
	color: #75cbd1;
}

div.day_selector {
	margin: 10px 0;
	padding: 0 0 20px;
}
ul.days {
	list-style: none;
	padding: 5px;
}
ul.days > li {
	float: left;
	position: relative;
	padding-right: 10px;
}

div.weeklyEvent, div.specialEvent {
	padding: 10px;
}

h2.sectionTitle {
	border-bottom: 1px solid #777;
	padding-bottom: 4px;
}

h2.eventTitle {
	border-bottom: 1px solid #777;
	padding-bottom: 4px;
}
.eventTime {
	font-size: 12pt;
	color: #ededed;
	padding-right: 10px;
	font-weight: bold;
}
.eventName {
	font-size: 11pt;
	color: #ccc;
}
.eventDate {
	font-size: 13pt;
	color: #ccc;
	padding-right: 10px;
	font-weight: bold;
}

.createLink {
	font-size: 10pt;
	padding: 3px;
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
	text-transform: uppercase;
}

.backLink {
	float: right;
	display: inline-block;
	font-size: 10pt;
	text-transform: uppercase;
	margin-top: 10px;
}

.additionalDates {
	font-size: 10pt;
	color: #999;
}

#deleteLink {
	float: left;
	margin-top: 25px;
}

.filterLink.selected {
	font-weight: bold;
	color: #fff;
	font-size: 14pt;
}

span.editEventName {
	font-weight: 200;
	
}

p.description {
	font-size: 13pt;
	color: #bbb;
}

.attachments h4 {
	border-bottom: 1px solid #676767;
    color: #BBBBBB;
    font-size: 10pt;
    font-weight: normal;
    margin-top: 10px;
    padding-bottom: 5px;
}

.attachments .file-wrapper {
	display: block;
}

.attachment a {
	font-size: 10pt;
}

.attachments .delAttachmentBtn {
	font-size: 13pt;
	margin: 0 4px;
}

.exceptionsStepTitle {
	border-bottom: 1px solid #777;
	padding-bottom: 4px;
	font-size: 18pt;
}
/* Fix links inside of alert boxes */

.alert a {	
	color: #777;
}
.alert a:hover {
	color: #555;
}

/* Pretty browse button */

.file-wrapper {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.file-wrapper input {
	cursor: pointer;
	font-size: 100px;
	height: 100%;
	filter: alpha(opacity=1);
	-moz-opacity: 0.01;
	opacity: 0.01;
	position: absolute;
	right: 0;
	top: 0;
}
.file-wrapper .button {
	margin: 5px;
	background: #75cbd1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin-right: 5px;
	padding: 4px 18px;
	text-transform: uppercase;
	text-shadow: 1px 0px 0px rgba(255,255,255,0.13);
}


