RewriteEngine On


RewriteRule ^events/edit/(.*)/?$ /events/index.php?page=edit_events&event_id=$1 [L,NC]
RewriteRule ^events/(add|manage|addspecial)/?$ /events/index.php?page=$1_events [L,NC]
RewriteRule ^events/(settings)/?$ /events/index.php?page=$1 [L,NC]





