
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #444;
	color: #FFF;
}

a {	
	color: #AAA;
	text-decoration: none;
}
a:hover {
	color: #af2424;
}

body,p {
	font-size: 13pt;
	font-family: Helvetica, Arial, sans-serif;
}

h3 {
	font-size: 24pt;
	text-align: left;
	margin: 0;
}

header, section, footer {
	display: block;
}

div.wrapper {
	margin: 15px auto;
	width: 1100px;
	padding: 0 10px;
}

section {
	margin: 0;
	padding: 0;
	min-height: 560px;
	clear: both;
	overflow: hidden;
}

header {
	height: 150px;
}

nav {
	display: inline;
	height: 26px;
	float: right;
	margin-top: 60px;
}

ul {
	list-style: none;
}

ul.topnav {
	padding: 0 10px;	
	margin: 0;
	font-weight: normal;
	font-size: 13pt;
	float: right;
}
ul.topnav li {
	margin: 0 8px 0 0;
	padding: 0 3px;
	float: left;
	position: relative;
	z-index: 108;
}

ul.topnav li a{
	padding: 3px 0;
	margin: 0 5px;
	color: #FFF;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
}
ul.topnav li a.selected {
	border-bottom: 3px solid #af2424;
}
ul.topnav li a:hover, 
ul.topnav li a.selected {
	color: #c1c1c1;
}


/* Form Controls */

textarea,
input,
select {
	font-size: 11pt;
}
input.inputfield {
	width: 350px;
}
textarea {
	font-family: Helvetica, Arial;
	height: 200px;
	width: 355px;
}

.button {
	margin: 20px 5px;
}

/* Generic Global Styles */

.hidden {
	visibility: hidden;
}
.noDisplay {
	display:none;
}
.cleardiv {
	clear:both;
}
.tiny {
	font-size: 10pt;
	color: #ccc;
}
.error {
	font-size: 11pt;
	padding: 10px 0;
	color: #ee4343;
}
.success {
	padding: 10px 0;
	color: #618b55;
	font-size: 11pt;
}

/* Table Styling */

table {
	padding: 10px;
}
table tr td {
	padding: 5px 0;
}








